@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-accent: var(--accent);
}

/* Light Theme (Default) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #64ACEC;
}

/* Dark Theme (Class-based) */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #64ACEC;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}